<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.notebook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/notebook"
        android:label="Mr.廷の丿ート"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Notebook">
        <activity
            android:screenOrientation="portrait"
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".receive" android:label="Check"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="add" android:label="Create"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>